<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/goods.css">
</head>
<body>
	<!-- 头部 -->
	<div id="head">
		<div class="logo">
			<img src="/images/Logo3.png" alt="">
		</div>
		<ul>
			<li style="width:102px">
				<a href="#">
					<img src="/images/u1.png" alt="">
					<span style="color:#ff0;font-weight:bold">更多模板堂产品</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u2.png" alt="">
					<span>开店向导</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u3.png" alt="">
					<span>记事本</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u4.png" alt="">
					<span>刷新</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u5.png" alt="">
					<span>个人设置</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u6.png" alt="">
					<span>管理员留言</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u7.png" alt="">
					<span>查看网店</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u8.png" alt="">
					<span>帮助</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u9.png" alt="">
					<span>关于ECSHOP</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u10.png" alt="">
					<span>清除缓存</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/u11.png" alt="">
					<span>退出</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- 导航 -->
	<div id="nav">
		<ul>
			<li>
				<a href="#">
					<img src="/images/t1.png" alt="">
					<span>起始页</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/t2.png" alt="">
					<span>设置导航栏</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/t3.png" alt="">
					<span>商品管理</span>
					<span class="num">35</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/t4.png" alt="">
					<span>订单管理</span>
					<span class="num">0</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/t5.png" alt="">
					<span>广告管理</span>
					<span class="num">0</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/t6.png" alt="">
					<span>用户评论</span>
					<span class="num">0</span>
				</a>
			</li>
			<li>
				<a href="#">用户评论</a>
			</li>
			<li>
				<a href="#">商品列表</a>
			</li>
			<li>
				<a href="#">会员列表</a>
			</li>
			<li>
				<a href="#">商店设置</a>
			</li>
			<li>
				<a href="#">移动版</a>
			</li>
			<li>
				<a href="#">服务市场</a>
			</li>
			<li>
				<a href="#">商品回收站</a>
			</li>
		</ul>
	</div>
	<!-- 主体部分 -->
	<div id="main">
		<!-- 左侧导航 -->
		<div class="main-left">
			<p>
				<span>导航菜单</span>
			</p>
			<ul>
				<li class="collapse">商品管理
					<ul class="menv">
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品分类</li>
						<li>用户评论</li>
						<li>商品品牌</li>
						<li>商品类型</li>
					</ul>
				</li>
				<li class="collapse">促销管理</li>
				<li class="collapse">订单管理</li>
				<li class="collapse">广告管理</li>
				<li class="collapse">报表统计</li>
				<li class="collapse">文章管理</li>
				<li class="collapse">会员管理</li>
				<li class="collapse">权限管理</li>
				<li class="collapse">系统设置</li>
				<li class="collapse">模板管理</li>
				<li class="collapse">数据库管理</li>
				<li class="collapse">短信管理</li>
				<li class="collapse">推荐管理</li>
				<li class="collapse">邮件群发管理</li>
				<li class="collapse">移动版管理</li>
				<li class="collapse">模板堂知识库</li>
			</ul>
		</div>
		<!-- 中间三角菜单 -->
		<div class="main-center">
			<img src="/images/tu.gif" alt=""><span></span>
		</div>
		<!-- 右侧内容区 -->
		<!-- 商品列表 -->
		<div class="main-right goods1">
			<h1>
				<span class="action-span">
					<a href="#">ECSHOP 管理中心</a>
				</span>
				<span class="action-span2">-商品列表</span>
				<span class="action-span3">
					<a href="#">
						<img src="/images/gs1.png" alt="">
					</a>
				</span>
				<span class="action-span4">
					<a href="#">添加商品</a>
				</span>
			</h1>
			<div class="goods-show">
				<table cellpadding="3" cellspacing="1">
					<tr>
						<td>
							<a href="#">编号</a>
						</td>
						<td>
							<a href="#">商品名称</a>
						</td>
						<td>
							<a href="#">货号</a>
						</td>
						<td>
							<a href="#">价格</a>
						</td>
						<td>
							<a href="#">上架</a>
						</td>
						<td>
							<a href="#">精品</a>
						</td>
						<td>
							<a href="#">新品</a>
						</td>
						<td>
							<a href="#">热销</a>
						</td>
						<td>
							<a href="#">推荐排序</a>
						</td>
						<td>
							<a href="#">库存</a>
						</td>
						<td>
							<a href="#">虚拟销量</a>
						</td>
						<td>
							<a href="#">操作</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- 添加新商品 -->
		<div class="main-right goods2">
			<h1>
				<span class="action-span">
					<a href="#">ECSHOP 管理中心</a>
				</span>
				<span class="action-span2">-添加新商品</span>
				<span class="action-span3">
					<a href="#">
						<img src="/images/gs1.png" alt="">
					</a>
				</span>
				<span class="action-span4">
					<a href="#">添加商品</a>
				</span>
			</h1>
			<div class="goods2-con">
				<div class="tabbar-div">
					<p>
						<span>通用信息</span>
						<span>详细描述</span>
						<span>其他信息</span>
						<span>商品属性</span>
						<span>商品相册</span>
						<span>关联商品</span>
						<span>配件</span>
						<span>关联文章</span>
					</p>
				</div>
				<div class="tabbody">
					<table width="90%" align="center" class="goods-info">
						<!-- 第一行 -->
						<tr>
							<td class="label">商品名称：</td>
							<td>
								<input type="text" style="float:left" size="30">
								<div style="float:left;margin:10px 0 0 5px">
									<img src="/images/gs3.gif" alt="" style="margin-top:-1px">
								</div>
								<select name="" id="">
									<option value="">字体样式</option>
									<option value="">加粗</option>
									<option value="">斜体</option>
									<option value="">下划线</option>
									<option value="">删除线</option>
								</select>
								<span>*</span>
							</td>
						</tr>
						<!-- 第二行 -->
						<tr>
							<td class="label">
								<a href="#">
									<img src="/images/gs4.gif" alt="">
								</a>
								商品货号：
							</td>
							<td>
								<input type="text" size="20">
								<span></span><br>
								<span class="notice-span" style="display:block">
									如果您不输入商品货号，系统将自动生成一个唯一的货号。
								</span>
							</td>
						</tr>
						<!-- 第三行 -->
						<tr>
							<td class="label">商品分类：</td>
							<td>
								<select name="" id="" class="s1">
									<option value="">请选择...</option>
									<option value="">钻石</option>
									<option value="">衬衫</option>
									<option value="">短袖衬衫</option>
									<option value="">大衣</option>
									<option value="">夹克</option>
								</select>
								<a href="#" class="special">添加分类</a>
								<span>*</span>
							</td>
						</tr>
						<!-- 第四行 -->
						<tr>
							<td class="label">扩展分类：</td>
							<td>
								<input type="button" value="添加" class="button">
							</td>
						</tr>
						<!-- 第五行 -->
						<tr>
							<td class="label">商品品牌：</td>
							<td>
								<select name="" id="" class="s1">
									<option value="">请选择...</option>
									<option value="">空间大师</option>
									<option value="">溢彩年华</option>
									<option value="">圣迪奥</option>
									<option value="">韩都衣舍</option>
									<option value="">美好家</option>
								</select>
								<a href="#" class="special">添加品牌</a>
								<span>*</span>
							</td>
						</tr>
						<!-- 第六行 -->
						<tr>
							<td class="label">本店售价：</td>
							<td>
								<input type="text" value="0">
								<input type="button" value="按市场价计算">
								<span>*</span>
							</td>
						</tr>
						<!-- 第八行 -->
						<tr>
							<td class="label">
								<a href="#">
									<img src="/images/gs4.gif" alt="">
								</a>
								会员价格：
							</td>
							<td>
								注册用户
								<input type="text" value="-1" class="input1">
								代销用户
								<input type="text" value="-1" class="input1">
								vip
								<input type="text" value="-1" class="input1"><br>
								<span class="notice-span">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
							</td>
						</tr>
						<!-- 第九行 -->
						<tr>
							<td class="label">
								<a href="#">
									<img src="/images/gs4.gif" alt="">
								</a>
								商品优惠价格：
							</td>
							<td>
								[+]优惠数量
								<input type="text" class="input1">
								优惠价格
								<input type="text" class="input1"><br>
								<span class="notice-span">购买数量达到优惠数量时享受的优惠价格
								</span>
							</td>
						</tr>
						<!-- 第十行 -->
						<tr>
							<td class="label">市场售价：</td>
							<td>
								<input type="text" value="0">
								<input type="button" value="取整数">
							</td>
						</tr>
						<!-- 11 -->
						<tr>
							<td class="label">虚拟销量：</td>
							<td>
								<input type="text" value="0">
							</td>
						</tr>
						<!-- 12 -->
						<tr>
							<td class="label">
								<a href="#">
									<img src="/images/gs4.gif" alt="">
								</a>
								赠送消费积分数：
							</td>
							<td>
								<input type="text" value="-1">
								<span class="notice-span">购买该商品时赠送消费积分数,-1表示按商品价格赠送
								</span>
							</td>
						</tr>
						<!-- 13 -->
						<tr>
							<td class="label">
								<a href="#">
									<img src="/images/gs4.gif" alt="">
								</a>
								赠送等级积分数：
							</td>
							<td>
								<input type="text" value="-1">
								<span class="notice-span">购买该商品时赠送等级积分数,-1表示按商品价格赠送
								</span>
							</td>
						</tr>
						<!-- 14 -->
						<tr>
							<td class="label">
								<a href="#">
									<img src="/images/gs4.gif" alt="">
								</a>
								积分购买金额：
							</td>
							<td>
								<input type="text" value="0">
								<span class="notice-span">(此处需填写金额)购买该商品时最多可以使用积分的金额
								</span>
							</td>
						</tr>
						<!-- 15 -->
						<tr>
							<td class="label">
								<label for="is_promote">
									<input type="checkbox" id="is_promote">
									促销价：
								</label>
							</td>
							<td>
								<input type="text" value="0" disabled="disabled">
							</td>
						</tr>
						<!-- 16 -->
						<tr>
							<td class="label">促销日期：</td>
							<td>
								<input type="text" value="2018-02-27">
								<input type="button" class="button" value="选择">
								-
								<input type="text" value="2018-03-26">
								<input type="button" class="button" value="选择">
							</td>
						</tr>
						<!-- 17 -->
						<tr>
							<td class="label">上传商品图片：</td>
							<td>
								<input type="file" size="35">
								<img src="" alt=""><br>
								<input type="text" size="40" value="商品图片外部URL" style="color:#aaa;">
							</td>
						</tr>
						<!-- 18 -->
						<tr>
							<td class="label">上传商品缩略图：</td>
							<td>
								<input type="file" size="35">
								<img src="" alt=""><br>
								<input type="text" size="40" value="商品缩略图外部URL" style="color:#aaa;"><br>
								<label for="auto_thumb">
									<input type="checkbox" id="auto_thumb" name="auto_thumb" checked="true" value="1">
									自动生成商品缩略图
								</label>
							</td>
						</tr>
					</table>
					<div class="button-div">
						<input type="button" value=" 确定 " class="button">
						<input type="reset" value=" 重置 " class="button">
					</div>
				</div>
			</div>
			<div class="foot">
				共执行 9 个查询，用时 0.024280 秒，Gzip 已禁用，内存占用 3.589 MB<br>
				版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
		</div>
	</div>
</body>
</html>
<script>
	// 主体左侧部分添加背景图
	for(var i=0;i<$(".collapse").length;i++){
		var j=i+1;
		var ocss="#575757 url(/images/menu_"+j+".png) no-repeat";
		$(".collapse").eq(i).css("background",ocss)

	}
	// $(".collapse").click(function(){
	// 		var index=$(this).index();
	// 		var i=index+1;
	// 		var ocss="#575757 url(/images/menu_"+i+".png) no-repeat";
	// 		var bcss="#575757 url(/images/menu1_"+i+".png) no-repeat";
	// 		console.log($(this).css("background-color"))
	// 	})
	// 二级菜单
	$(".collapse").click(function(){
		var index=$(this).index();
		var omenv=$(".menv").eq(index).css("display");
		if(omenv=="none"){
			$(".menv").eq(index).css("display","block");
		}else{
			$(".menv").eq(index).css("display","none");
		}
		
	})
	// 添加商品页面
	$(".tabbar-div span").click(function(){
		$(this).css("background","#fff")
				.siblings().css("background","#ececec")
	})
</script>