<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
	<div class="main-right goods1">
			<h1>
				<span class="action-span">
					<a href="#">ECSHOP 管理中心</a>
				</span>
				<span class="action-span2">-商品列表</span>
				<span class="action-span3">
					<a href="#">
						<img src="/images/gs1.png" alt="">
					</a>
				</span>
				<span class="action-span4">
					<a href="#">添加商品</a>
				</span>
			</h1>
			<div class="goods-show">
				<table cellpadding="3" cellspacing="1">
					<tr class="t1">
						<td>
							<input type="checkbox">
							<a href="#">编号</a>
						</td>
						<td>
							<a href="#">商品名称</a>
						</td>
						<td>
							<a href="#">货号</a>
						</td>
						<td>
							<a href="#">价格</a>
						</td>
						<td>
							<a href="#">上架</a>
						</td>
						<td>
							<a href="#">精品</a>
						</td>
						<td>
							<a href="#">新品</a>
						</td>
						<td>
							<a href="#">热销</a>
						</td>
						<td>
							<a href="#">推荐排序</a>
						</td>
						<td>
							<a href="#">库存</a>
						</td>
						<td>
							<a href="#">虚拟销量</a>
						</td>
						<td>
							<a href="#">操作</a>
						</td>
					</tr>
					<% for(var i=0;i<list.length;i++){ %>
						<tr>
							<td>
								<input type="checkbox">
								<a href="#">279</a>
							</td>
							<td>
								<%= list[i].goods_name %>
							</td>
							<td>
								<%= list[i].goods_num %>
							</td>
							<td>
								<%= list[i].price %>
							</td>
							<td class="right">
								<img src="/images/q1.gif" alt="">
							</td>
							<td class="right">
								<img src="/images/q1.gif" alt="">
							</td>
							<td class="right">
								<img src="/images/q1.gif" alt="">
							</td>
							<td class="right">
								<img src="/images/q1.gif" alt="">
							</td>
							<td>
								<a href="#">100</a>
							</td>
							<td>
								<a href="#">100</a>
							</td>
							<td>
								<%= list[i].dream_num %>
							</td>
							<td>
								<a href="#">
									<img src="/images/q3.gif" alt="">
								</a>
								<a href="#">
									<img src="/images/q4.gif" alt="">
								</a>
								<a href="#">
									<img src="/images/q5.gif" alt="">
								</a>
								<a href="#">
									<img src="/images/q6.gif" alt="">
								</a>
							</td>
						</tr>
					<% } %>
				</table>
				<div class="turn-page">
					总计
					<span>6</span>
					个记录分为
					<span>1</span>
					页当前第
					<span>1</span>
					页，每页
					<input type="text" size="3" id="pageSize" value="15">
					<span class="page-link">
						<a href="#">第一页</a>
						<a href="#">上一页</a>
						<a href="#">下一页</a>
						<a href="#">最末页</a>
						<select name="" class="gotoPage">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</span>
				</div>
			</div>
			<!-- 底部 -->
			<div class="foot">
				共执行 9 个查询，用时 0.024280 秒，Gzip 已禁用，内存占用 3.589 MB<br>
				版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
		</div>
</body>
</html>
<script>
window.onload=function(){
	// 对错图片切换
	$(".right img").attr("lev","1")
	$(".right").click(function(){
		if($(this).find("img").attr("lev")=="1"){
			$(this).find("img").attr("src","/images/q2.gif")
			$(this).find("img").attr("lev","2")
		}else{
			$(this).find("img").attr("src","/images/q1.gif")
			$(this).find("img").attr("lev","1")
		}
	})
}
	
</script>