<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
	<div class="main-right goods1">
			<h1>
				<span class="action-span">
					<a href="#">ECSHOP 管理中心</a>
				</span>
				<span class="action-span2">-商品列表</span>
				<span class="action-span3">
					<a href="#">
						<img src="/images/gs1.png" alt="">
					</a>
				</span>
				<span class="action-span4">
					<a href="#">添加商品</a>
				</span>
			</h1>
			<div class="goods-show">
				<table cellpadding="3" cellspacing="1">
					<tr>
						<td>
							<a href="#">编号</a>
						</td>
						<td>
							<a href="#">商品名称</a>
						</td>
						<td>
							<a href="#">货号</a>
						</td>
						<td>
							<a href="#">价格</a>
						</td>
						<td>
							<a href="#">上架</a>
						</td>
						<td>
							<a href="#">精品</a>
						</td>
						<td>
							<a href="#">新品</a>
						</td>
						<td>
							<a href="#">热销</a>
						</td>
						<td>
							<a href="#">推荐排序</a>
						</td>
						<td>
							<a href="#">库存</a>
						</td>
						<td>
							<a href="#">虚拟销量</a>
						</td>
						<td>
							<a href="#">操作</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
</body>
</html>